.about {
    padding: 0 32px;
    border-radius: 16px;
    margin: 0 auto;
    width: 80vw;
    max-width: 500px;
    text-align: center;
}

@media only screen 
 and (max-device-width: 480px)
 and (-webkit-min-device-pixel-ratio: 2) {
    .about {
        max-width: 80vw;
    }

 }